{% extends 'KoreAdminBundle:Base:base.html.twig' %}
{% use 'KoreAdminBundle:Base:navbar.html.twig' %}
{% use 'KoreAdminBundle:Base:sidebar.html.twig' %}
{% use 'KoreAdminBundle:Base:icons.html.twig' %}
{% use 'KoreAdminBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'KoreAdminBundle' %}

{% block title %}{{ 'productgroup.show.title'|trans({'%id%':productgroup.id}) }}{% endblock %}

{% block body %}
    
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'productgroup.show.title'|trans({'%id%':productgroup.id}) }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('admin_productgroup_index') }}">{{ icon('list') }}&nbsp;{{ 'productgroup.index.link'|trans }}</a>
                    <a type="button" class="btn btn-primary" href="{{ path('admin_productgroup_edit', { 'id': productgroup.id }) }}">{{ icon('edit') }}&nbsp;{{ 'productgroup.edit.link'|trans }}</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ icon('trash-o') }}&nbsp;{{ 'productgroup.delete.link'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-show">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'productgroup.show.data'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>{{ 'productgroup.form.id'|trans }}</dt>
                                <dd>{% if productGroup.id %}{{ productGroup.id }}{% endif %}</dd>
                            <dt>{{ 'productgroup.form.name'|trans }}</dt>
                                <dd>{% if productGroup.name %}{{ productGroup.name }}{% endif %}</dd>
                            <dt>{{ 'productgroup.form.description'|trans }}</dt>
                                <dd>{% if productGroup.description %}{{ productGroup.description }}{% endif %}</dd>
                            <dt>{{ 'productgroup.form.imagename'|trans }}</dt>
                                <dd>{% if productGroup.imagename %}{{ productGroup.imagename }}{% endif %}</dd>
                            <dt>{{ 'productgroup.form.createdAt'|trans }}</dt>
                                <dd>{% if productGroup.createdAt %}{{ productGroup.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>
                            <dt>{{ 'productgroup.form.updatedAt'|trans }}</dt>
                                <dd>{% if productGroup.updatedAt %}{{ productGroup.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-show -->

        
        
        

        <div id="page-modal">
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'productgroup.delete.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                <div class="col-xs-10"><p>{{ 'productgroup.delete.message'|trans }}</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form_start(deleteForm) }}
                                <button type="submit" class="btn btn-danger pull-right">{{ icon('trash-o') }}&nbsp;{{ 'productgroup.delete.submit'|trans }}</button>
                            {{ form_end(deleteForm) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-modal -->

    </div>
    <!-- /#page-wrapper -->
{% endblock %}

