{% trans_default_domain 'KoreFrontBundle' %}
{% block feature %}
     <section id="feature">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ 'feature.title'|trans }}</h1>
                        <p>{{ 'feature.subtitle'|trans }}</p>
                    </div>
                    <div class="col-md-6 text-center">
                        {{ icon('scissors fa-4x') }}
                        <h2>{{ 'feature.item1.title'|trans }}</h2>
                        <ul class="list-unstyled">
                            <li>{{ 'feature.item1.contentpart1'|trans }}</li>
                            <li>{{ 'feature.item1.contentpart2'|trans }}</li>
                            <li>{{ 'feature.item1.contentpart3'|trans }}</li>
                            <li>{{ 'feature.item1.contentpart4'|trans }}</li>
                            <li>{{ 'feature.item1.contentpart5'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        {{ icon('shopping-bag fa-4x') }}
                        <h2>{{ 'feature.item2.title'|trans }}</h2>
                        <ul class="list-unstyled">
                            <li>{{ 'feature.item2.contentpart1'|trans }}</li>
                            <li>{{ 'feature.item2.contentpart2'|trans }}</li>
                            <li>{{ 'feature.item2.contentpart3'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}