{% block navbar %}
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand hidden-sm hidden-xs" href="#">
                <img src="{{ asset('images/logo.png') }}" alt="Belleza Estilo">
                <h1 class="sr-only">Belleza Estilo</h1>
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Menu</span>
                </button>
                <a class="navbar-brand hidden-lg hidden-md" href="#">
                    <img src="images/logo.png" alt="Belleza Estilo">
                    <h1 class="sr-only">Belleza Estilo</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('kore_front_index') }}">INICIO</a></li>
                    <li class=""><a href="{{ path('kore_front_about') }}">QUIÉNES SOMOS</a></li>
                    <li class=""><a href="{{ path('kore_front_service') }}">SERVICIOS</a></li>
                    <li class=""><a href="{{ path('kore_front_product') }}">PRODUCTOS</a></li>
                    <li class=""><a href="{{ path('kore_front_contact') }}">CONTACTO</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}