{% extends 'KoreFrontBundle:Front:base.html.twig' %}
{% use 'KoreFrontBundle:Front:recommended.html.twig' %}
{#}
{% use 'KoreFrontBundle:Front:navbar.html.twig' %}
{% use 'KoreFrontBundle:Front:header.html.twig' %}
{% use 'KoreFrontBundle:Front:recommended.html.twig' %}
{% use 'KoreFrontBundle:Front:footer.html.twig' %}
{#}

{% block title %}{% endblock %}

{% block body %}
{#}
    {% block navbar %}{{ parent() }}{% endblock %}
    {% block recommended %}{{ parent() }}{% endblock %}   
    {% block footer %}{{ parent() }}{% endblock %}
{#}

    <section id="catalog">
        <div class="container">
            <p class="text-right"><a type="button" href="{{ path('front_index') }}" class="btn btn-default">{{ icon('arrow-left') }} Volver</a></p>
            <div class="row">
                {% block recommended %}{{ parent() }}{% endblock %}   
                {% for k, productGroup in productGroups %}
                <a href="#" class="col-md-4 col-sm-6 col-xs-12 foto" data-toggle="modal" data-target="#modal{{ k }}">
                    <div class="thumbnail no-padding no-border-radius custom-thumbnail">
                        <img class="img-responsive center-block" src="{{ vich_uploader_asset(productGroup, 'imagefile', 'Kore\\AdminBundle\\Entity\\ProductGroup')|imagine_filter('resource_photography_medium') }}" />
                        <div class="caption custom-caption">
                            <h3>{{ productGroup.name }}</h3>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div id="page-modal">
            {% for k, productGroup in productGroups %}
            <div class="modal fade in" id="modal{{ k }}" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content custom-modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times"></span></button>
                                    <img class="img-responsive center-block" src="{{ vich_uploader_asset(productGroup, 'imagefile', 'Kore\\AdminBundle\\Entity\\ProductGroup')|imagine_filter('resource_photography_large') }}" />
                                </div>
                                <div class="col-md-12">
                                    {% for product in productGroup.products %}
                                        <div class="panel panel-default custom-panel">
                                            <div class="panel-body">
                                                <div class="product-name">{{ product.reference }}&nbsp;<strong>{{ product.name }}</strong></div>
                                                <div class="product-description">{{ product.description }}</div>
                                                <div class="product-price">$&nbsp;{{ product.price|number_format(0, ',', '.') }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section> 
{% endblock %}

{% block stylesheet %}
<style type="text/css">
    body {
        background: radial-gradient(#444, #222, black);
    }
    .product-name {
        font-size: 1.3em;
    }
    .product-price {
        font-size: 1.3em;
        text-align: right;
    }
    @media (min-width: 1200px) {
        .modal-lg {
            width: 1200px;
        }
    }   
    #page-modal .modal .modal-dialog .modal-content .modal-body .row img.img-responsive.center-block {
        margin-bottom: 20px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    a.foto {
        display: flex;
        text-decoration: none;
    }
    .no-padding {
        padding: 0;
    }
    .no-border-radius {
        border-radius: 0;
    }
    .custom-thumbnail {
        margin-bottom: 30px;
        background-color: #6c4677; 
        border: none;
    }
    .custom-caption {
        color: white!important;
    }
    .custom-modal-content {
        background-color: #222;
        border-radius: 0px;
    }
    .custom-panel {
        background-color: #6c4677;
        color: white;
        border-radius: 0px;
        border-color: white;
        font-size: 18px;
        font-weight: 600;
    }
    p.text-right {
            font-size: 2em;
            text-shadow: 0 2px 4px #000;  
            margin-bottom: 0px;
    } 
    p a.btn.btn-default {
        color: white;
        background-color: #980198;
        padding: 10px 30px;
        font-size: 1em;
        border-radius: 0px;
        border-color: #980198;
        margin: .5em 0 .5em 0;
        text-shadow: none; 
    }
    p a.btn.btn-default:hover,
    p a.btn.btn-default:focus,
    p a.btn.btn-default:active   {
        background-color: purple;
        border-color: purple;
    }   
    .custom-close {
        color: white;
        opacity: 1;
        text-shadow: none;
        margin-bottom: 15px;
    }
    .custom-close:hover,
    .custom-close:focus,
    .custom-close:active {
        color: gold;
        opacity: 1;
    }
    @media (min-width: 769px) {
        a.foto:hover {
            transform: scale(1.02);
            transition: .5s;
            z-index: 1;
        }
        .custom-thumbnail:hover {
            box-shadow: 0px 0px 20px 0px fuchsia;
            transition: .5s;
            z-index: 1;
        }
    }
    div#carousel.carousel.slide {
        margin-bottom: 30px;
    }
</style>
{% endblock %}