{% extends 'KoreFrontBundle:Front:base.html.twig' %}
{% use 'KoreFrontBundle:Front:navbar.html.twig' %}
{#}
{% use 'KoreFrontBundle:Front:header.html.twig' %}
{% use 'KoreFrontBundle:Front:recommended.html.twig' %}
{% use 'KoreFrontBundle:Front:footer.html.twig' %}
{#}

{% block title %}{% endblock %}

{% block body %}
    {% block navbar %}{{ parent() }}{% endblock %}
{#}
    {% block recommended %}{{ parent() }}{% endblock %}    
    {% block footer %}{{ parent() }}{% endblock %}
{#}
    <section id="catalog">
        <div class="container">
            <div class="row">
                {% for k, productGroup in productGroups %}
                <a href="#" class="col-md-4 col-sm-6 col-xs-12 foto" data-toggle="modal" data-target="#modal{{ k }}">
                    <div class="thumbnail no-padding no-border-radius custom-thumbnail">
                        <img class="img-responsive center-block" src="{{ vich_uploader_asset(productGroup, 'imagefile', 'Kore\\AdminBundle\\Entity\\ProductGroup')|imagine_filter('resource_photography_medium') }}" />
                        <div class="caption custom-caption">
                            <h3>{{ productGroup.name }}</h3>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div id="page-modal">
            {% for k, productGroup in productGroups %}
            <div class="modal fade in" id="modal{{ k }}" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content custom-modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <img class="img-responsive img-rounded center-block" src="{{ vich_uploader_asset(productGroup, 'imagefile', 'Kore\\AdminBundle\\Entity\\ProductGroup')|imagine_filter('resource_photography_large') }}" />
                                </div>
                                <div class="col-md-3">
                                    {% for product in productGroup.products %}
                                        <div class="panel panel-default custom-panel">
                                            <div class="panel-body">
                                                <div class="product-name">{{ product.reference }}&nbsp;<strong>{{ product.name }}</strong></div>
                                                <div class="product-description">{{ product.description }}</div>
                                                <div class="product-price">$&nbsp;{{ product.price|number_format(0, ',', '.') }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}


{% block stylesheet %}
<style type="text/css">
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/products/bg-product.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #catalog {
        margin-top: 100px;
    }
    .product-name {
        font-size: 1.3em;
    }
    .product-price {
        font-size: 1.3em;
        text-align: right;
    }
@media (min-width: 992px) {
    .modal-lg {
        width: 1200px;
    }
}
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    a.col-md-4.col-sm-6.col-xs-12.foto {
        display: flex;
        text-decoration: none;
    }
    .no-padding {
        padding: 0;
    }
    .no-border-radius {
        border-radius: 0;
    }
    .custom-thumbnail {
        background-color: #b23068; 
        border: none;
    }
    .custom-caption {
        color: white!important;
    }
    .custom-modal-content {
        background-color: #222;
    }
    .custom-panel {
        background-color: #b23068;
        color: white;
        border-color: white;
    }
</style>
{% endblock %}